{% extends 'base.html' %}
{% load static %}

{% block page_title %}{{ recipe.name }}{% endblock %}

{% block specific_css_files %}
<link rel="stylesheet" href="{% static 'styles/recipe.css' %}">
{% endblock %}

{% block page_content %}
<form class="d-hidden" id="save_form" method="post" action="/recipes/{{ recipe.id }}/">
    {% csrf_token %}
    <input type="hidden" id="hidden_input" name="saved" value="{{ is_saved }}"/>
</form>
<div class="row recipe-header justify-content-center">
    <div class="col-3 recipe-img">
        <img src="{% if recipe.image %}{{ recipe.image.url }}{% else %}{% static 'img/default.png'%}{% endif %}"/>
    </div>
    <div class="recipe-head col-3">
        <h3>{{ recipe.name }}</h3>
        <p>Por: {{ recipe.user.username }}</p>
        <div class="recipe-buttons">
            {% if request.user.is_authenticated %}
            {% if not is_saved %}
            <button class="notActivated" onclick="{saveRecipe(true)}">Agregar a favoritos</button>
            {% else %}
            <button class="Activated" onclick="{saveRecipe(false)}">Quitar de favoritos</button>
            {% endif %}
            {% endif %}
            {% if request.user == recipe.user %}
            <a  href="{% url 'edit-recipe' recipe.id %}" class="notActivated" style="padding-top: 11px">Editar receta</a>
            {% endif %}
        </div>

    </div>
</div>
<div class="row recipe-ingredients">
    <h1>Ingredientes</h1>
    <p>{{ recipe.ingredients|linebreaks }}</p>
</div>
<div class="row recipe-instructions">
    <h1>Instrucciones</h1>
    <p>{{ recipe.instructions|linebreaks }}</p>
</div>
{% endblock %}

{% block scripts%}
<script>
    const saveRecipe = (value) => {
        console.log(value);
        document.getElementById("hidden_input").value = value;
        document.getElementById("save_form").submit();
    }
</script>
{% endblock %}